@import "tailwindcss";

@theme {
  --color-brand-green: #90ee90;
  --color-brand-pink: #d86f92;
}

@layer base {
  body {
    @apply bg-slate-50 font-mono;
  }
  ::selection {
    background-color: #90ee90;
    color: #d86f92;
  }

  ::-moz-selection {
    background-color: #90ee90;
    color: whitesmoke;
  }
}
